# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# PyCharm
# ==========================

.idea/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Build Files
# ==========================

dist/
build/

# ==========================
# Coverage
# ==========================

.coverage
htmlcov/